<section class="vh-100" style="background-color: #2da3a7;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem;">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-none d-md-block">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/img1.webp"
                alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
            </div>
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">

                <form>

                  <div class="d-flex align-items-center mb-3 pb-1">
                    <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                    <span class="h1 fw-bold mb-0">Logo</span>
                  </div>

                  <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Créer un compte</h5>

                  <div class="mb-4">
                    <input type="text" id="name" class="form-control form-control-lg mb-3" placeholder="Nom" />
                    <input type="text" id="fiscalCode" class="form-control form-control-lg mb-3" placeholder="Code fiscal" />
                    <input type="email" id="email" class="form-control form-control-lg mb-3" placeholder="E-mail" />
                    <input type="text" id="address1" class="form-control form-control-lg mb-3" placeholder="Adresse 1" />
                    <input type="text" id="address2" class="form-control form-control-lg mb-3" placeholder="Adresse 2" />
                    <input type="text" id="city" class="form-control form-control-lg mb-3" placeholder="Ville" />
                    <input type="text" id="postalCode" class="form-control form-control-lg mb-3" placeholder="Code postal" />
                    <input type="password" id="password" class="form-control form-control-lg mb-3" placeholder="Mot de passe" />
                    <input type="password" id="confirmPassword" class="form-control form-control-lg mb-3" placeholder="Confirmer le mot de passe" />
                  </div>
                  <button class="btn btn-primary btn-lg" type="button">S'inscrire</button>
                  <p class="mb-5 pb-lg-2" style="color: #393f81;">Déjà un compte ?
                    <a [routerLink]="['/login']"  style="color: #393f81;">Connectez-vous ici</a></p>

                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
